html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
	font-family: 'Conv_GT-Super-Display-Super';
	src: url('../assets/fonts/GT-Super-Display-Super.eot');
	src: local('☺'), url('../assets/fonts/GT-Super-Display-Super.woff') format('woff'), url('../assets/fonts/GT-Super-Display-Super.ttf') format('truetype'), url('../assets/fonts/GT-Super-Display-Super.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CentraNo2-Med';
	src: url('../assets/fonts/CentraNo2-Medium.eot');
	src: local('☺'), url('../assets/fonts/CentraNo2-Medium.woff') format('woff'), url('../assets/fonts/CentraNo2-Medium.ttf') format('truetype'), url('../assets/fonts/CentraNo2-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html,body {
	height: 100%;
}

@media screen and (max-width: 480px) {
	html,body {
		height: auto;
	}
}

@media screen and (max-height: 820px) {
	html,body {
		height: auto;
	}
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
	padding-bottom: 20px;
}

footer {
	flex-shrink: 0;
}

header {
  width: 100%;
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 40px; */
}

.payoff-logo {
  background-image: url('../assets/svg/payoff-logo.svg');
  background-repeat: no-repeat;
  width: 105px;
  height: 36px;
  margin-left: 40px;
}

.support-link {
  margin-right: 40px;
}

.support-link a {
	font-family: 'CentraNo2-Med';
	font-size: 18px;
	line-height: 24px;
	-webkit-font-smoothing: antialiased;
	color: #3A3C42;
	text-decoration: none;
	transition: color 250ms ease;
}

.support-link p {
	font-family: 'CentraNo2-Med';
	font-size: 18px;
	line-height: 24px;
	-webkit-font-smoothing: antialiased;
	color: #3A3C42;
}

.support-link p a {
	text-decoration: underline;
}

.support-link a:hover {
	color: #EC5973;;
}

main {
  text-align: center;
  width: 100%;
  max-width: 785px;
  margin: 0 auto;
	display: flex;
	align-items: center;
}

.main-inner {
	padding: 0 15px 40px;
	margin: 0 auto;
}

.main-inner p {
	font-family: 'CentraNo2-Med';
	font-size: 18px;
	line-height: 24px;
	-webkit-font-smoothing: antialiased;
	color: #3A3C42;
	max-width: 570px;
}

.main-inner p.not-found {
	max-width: 420px;
}

.main-inner a {
	color: #3A3C42;
	text-decoration: underline;
}

.error-type {
	margin: 0 0 25px 0;
}

h1 {
	font-family: 'Conv_GT-Super-Display-Super';
	font-style: normal;
	font-weight: 900;
	line-height: 62px;
	font-size: 60px;
	text-align: center;
	letter-spacing: -0.01em;
	color: #3A3C42;
	margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 40px;
		line-height: 42px;
	}
}

.error-img {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto 35px;
}

.error-img.outage {
	max-width: 334px;
	height: 184px;
}

.error-img.not-found {
	max-width: 292px;
	height: 200px;
}

.error-img.something-wrong {
	max-width: 270px;
	height: 170px;
}

footer {
	width: 100%;
	height: 260px;
	border-top: 1px solid #E5E7EB;
	display: flex;
	align-items: center;
}

.footer-inner {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
}

.payoff-logo-gray {
	background-image: url('../assets/svg/payoff-logo-gray.svg');
  background-repeat: no-repeat;
  width: 105px;
  height: 36px;
	margin-bottom: 40px;
}

.security {
	margin-bottom: 20px;
}

.address {
	font-family: 'CentraNo2-Med';
	font-size: 10px;
	line-height: 14px;
	letter-spacing: 0.05em;
	-webkit-font-smoothing: antialiased;
	color: #C4C5C6;
	text-decoration: none;
	text-transform: uppercase;
}

.social-icons {
	text-align: right;
}

.social-icons li {
	display: inline-block;
	list-style: none;
	padding-left: 15px;
}

.social-icons li a:hover path {
	fill: #EC5973; !important;
	transition: fill 250ms ease;
}
