@import "node_modules/bootstrap/scss/variables";

// Text utilities
//
// Extend bootstrap and add some helper classes

// font family
.font-family-serif { font-family: $font-family-serif; }
.font-family-sans-serif { font-family: $font-family-sans-serif; }

// styles
.strikethrough { text-decoration: line-through !important; }

// cursors
.cursor-pointer { cursor: pointer; }
