
@font-face {
  font-family: 'Trade Gothic';
  src: url('../fonts/TradeGothic.eot');
  src: url('../fonts/TradeGothic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TradeGothic.woff2') format('woff2'),
  url('../fonts/TradeGothic.woff') format('woff'),
  url('../fonts/TradeGothic.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,700');
