@import "variables";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/breakpoints";

// Navbar

.navbar {
  transition: background-color $duration-short;
}

// Nav links
.nav-link {
  font-family: $headings-font-family;
  font-size: $font-size-sm;
  text-transform: uppercase;
}

// bump up link size for mobile-style navs
@mixin mobile-nav-links() {
  .nav-link {
    display: inline-block;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;

    @include media-breakpoint-up(md) {
      font-size: $font-size-lg * 1.5;
    }
  }
}

// Navbar themes
//
// Light and dark styles

.navbar-light {
  .navbar-toggler {
    color: $link-color;
  }
}

// Navbar variations
//
// Custom navigation styles

// apply this to the body to prevent scrolling when nav is open
.navbar-open { overflow: hidden; }

// wrap top-level nav items like logo and toggler in this so they show on top of the expanded menu
.navbar-controls {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  position: relative;
  z-index: $zindex-fixed + 1;
}

// Full-height navbar
@mixin navbar-full-height() {
  &.navbar-light {
    .navbar-collapse {
      background-color: $white;
    }
  }

  .navbar-collapse {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: $zindex-fixed;
  }

  // set nav to full-height minus the navbar
  .navbar-nav {
    height: 100vh;
    justify-content: center;
    text-align: center;
  }

  @include mobile-nav-links();
}

// allow full height nav to be applied by class
.navbar-full-height {
  @include navbar-full-height();
}

// default display for mobile nav
@include media-breakpoint-down(md) {
  @include navbar-full-height();
}
