@import "variables";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/breakpoints";
@import "mixins";

.ho-heading,
.ho-paragraph,
.ho-anchor {
  margin: 0;
}

// Headings

h1, .h1,
h2, .h2,
h3, .h3 {
  letter-spacing: -0.03em;
}

h1, .h1,
h2, .h2,
h3, .h3,
h6, .h6 {
  text-transform: uppercase;
}

h4, .h4,
h5, .h5 {
  font-family: $font-family-sans-serif;
  font-weight: bold;
}

h6, .h6 {
  letter-spacing: 0.03em;
  margin-bottom: $headings-margin-bottom * 2;
}


// Links

a {
  transition: color $duration-short;
}


// Bold
//
// Revert style set in reboot.scss
b,
strong {
  font-weight: 700 !important;
}


// Horizontal rules

hr {
  border-top: $hr-border-width dashed $hr-border-color;
}


// Highlights
.hl {
  @include highlight();
  padding: 0 0.1em;
  margin: 0 -0.1em;
}

.hl-ul {
  @include highlight-underline();
}


@include media-breakpoint-up(md) {
  // Bump up headings for desktop
  h1, .h1 { font-size: 2.5rem; }
  h2, .h2 { font-size: 1.875rem; }
  h3, .h3 { font-size: 1.625rem; }
  h4, .h4 { font-size: 1.375rem; }

  .display-1 { font-size: 6rem; }
  .display-2 { font-size: 5.5rem; }
  .display-3 { font-size: 4.5rem; }
  .display-4 { font-size: 3.5rem; }

  [class^="display-"] {
    line-height: 1;
  }

  p { margin-bottom: $paragraph-margin-bottom * 1.2; }

  .lead { font-size: $lead-font-size * 1.22222222; } // ~22px

  hr {
    margin: ceil($hr-margin-y * 1.33) 0; // ~40px
  }
}
